<% unless comment.archived? %>
<div class="card my-2" >
  <p class="my-2 pe-3">
    <strong><%= comment.commenter %> : </strong>
    <br/>
    <%= comment.body %>
  </p>

  <% if user_signed_in? %>
  <p>
    <%= link_to "Delete comment", [comment.article, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </p>
  <% end %>
</div>
<% end %>
